<% include ./partials/header %>
<div class="ui main container text">
<h1 class="ui header">Edit Cigar</h1>
<div class="ui container segment text">
        <form action="/cigars/<%= cigar._id %>?_method=PUT" method="post" class="ui form">
            <div class="field">
                <label for="">Name</label>
                <input type="text" name="cigar[name]" placeholder="Cigar Name" value="<%= cigar.name %>">
            </div>
            <div class="field">
                <label for="">Image</label>
                <input type="text" name="cigar[image]" placeholder="Image url" value="<%= cigar.image %>">
                </div>
            <div class="field">
                <label for="">Notes</label>
                <textarea name="cigar[notes]"><%= cigar.notes %></textarea>
            </div>
            <div class="field">
                <label for="">Rating</label>
                <input type="number" min="1" max="5" name="cigar[rating]" id="" placeholder="Rating 1-5" value="<%= cigar.rating %>">
            </div>
            <input type="submit" name="" id="" class="ui primary button">
        </form>
</div>
</div>
<% include ./partials/footer %>